.admin-list-container {
    width: 60%;
    padding: 40px 0;
    background: #f3f3f3;
}

.admin-list-header {
    margin-bottom: 5%;
}

.month-switcher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    background: white;
    border-radius: 6px;
    padding: 10px;
}

.month-arrow {
    color: #5f5f5f;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 4px 12px;
    border-radius: 4px;
}

.month-arrow:hover {
    background: #eee;
}

.calendar-icon {
    width: 25px;
    height: 25px;
    color: #5f5f5f;
}

.tab-menu {
    display: flex;
    gap: 2rem;
    margin: 4% auto;
    padding: 3%;
    border-bottom: 1px solid black;
}

.tab-item-active {
    font-weight: bold;
    color: black;
}

.tab-item {
    color: #5f5f5f;
}

.admin-attendance-list-table-container {
    border-radius: 12px;
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

.admin-attendance-list-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 1rem;
    background: #fff;
}

.table-header-tr {
    border-bottom: 2px solid #5f5f5f;
    color: #5f5f5f;
    line-height: 1.8rem;
}

.table-th, .table-td {
    text-align: center;
    padding: 5px 20px;
}

.table-th {
    font-weight: bold;
    font-size: 1rem;
    border-bottom: 1px solid #5f5f5f;
}

.table-td {
    border-bottom: 1px solid #5f5f5f;
    color: #5f5f5f;
}

.table-tr:last-child td {
    border-bottom: none;
}

.table-tr:hover {
    background: #f3f3f3;
}

.detail-link {
    display: inline-block;
    padding: 4px 12px;
    color: black;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.2s;
}

.detail-link:hover {
    background: #444;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.alert-success {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
}

@media (max-width: 1024px) {
    .admin-list-container {
        width: 90%;
        padding: 10px 0;
    }

    .admin-attendance-list-table-container {
        overflow-x: auto;
        overflow-y: auto;
        width: 100%;
    }

    .admin-correction-request-list-table {
        min-width: 800px;
        table-layout: fixed;
    }

    .table-th, .table-td,
    .detail-link {
        font-size: 0.8rem;
    }
}
