.attendance-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    width: 50%;
}

.attendance-status {
    line-height: 1.5rem;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.3rem;
    margin-bottom: 1%;
    background-color: #c9c9c9;
    color: #5f5f5f;
    letter-spacing: 0.3rem;
}

.attendance-date {
    margin: 0;
    padding: 2%;
    font-size: 2.5rem;
    font-weight: normal;
}

.attendance-time {
    margin: 0;
    font-size: 5rem;
}

.attendance-actions {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3% auto;
}

.attendance-actions__form {
    width: 50%;
    margin: 0.5%;
    font-size: 2.2rem;
    font-weight: bold;
}

.action-button, .action-break-button {
    font-size: 2.2rem;
    font-weight: bold;
}

.action-button {
    width: 70%;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 16px 30px;
    transition: opacity 0.3s;
}

.action-break-button {
    width: 70%;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 20px;
    padding: 16px 30px;
    font-size: 2.2rem;
    transition: opacity 0.3s;
}

.action-button:hover {
    opacity: 0.8;
}

.alert-success {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.4rem;
    color: #000;
}

@media screen and (max-width: 768px) {

}