.body-container {
    background-color: #FFFFFF;
}

.main-content {
    width: 100%;
    justify-content: center;
}

.auth-container {
    width: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.auth-title {
    width: 100%;
    line-height: 44px;
    font-size: 36px;
    margin: 2% auto;
    text-align: center;
}

.auth-content {
    width: 100%;
    height: 100%;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1% auto;
}

/* register */
.register-label {
    line-height: 36px;
    font-size: 24px;
    text-align: left;
}

.register-input {
    line-height: 43px;
    border-radius: 4px;
    border: 1px solid black;
    padding: 0 10px;
    font-size: 24px;
    text-align: left;
}

/* login */
.form-label {
    line-height: 36px;
    font-size: 24px;
    text-align: left;
}

.form-input {
    line-height: 58px;
    padding: 0 10px;
    border-radius: 4px;
    border: 1px solid black;
}

/* loginとregister共通*/
.auth-error-message {
    line-height: 18px;
    min-height: 18px;
    color: red;
    font-size: 16px;
    margin-bottom: 2%;
    text-align: center;
    width: 100%;
}

.submit-button {
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 26px;
    transition: all 0ms;
    margin-top: 4%;
}

.login-register-link {
    display: inline-block;
    width: 257px;
    line-height: 49px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 3%;
    color: rgb(74, 128, 245)
}


@media screen and (max-width: 768px) {
    .auth-container {
        width: 90%;
    }

}
