.attendance-list-container {
    width: 900px;
    padding: 40px 0;
    margin-top: 30px;
}

.attendance-list-header {
    margin-bottom: 5%;
}

.date-switcher,
.month-switcher {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border-radius: 6px;
    padding: 10px;
}

.current-date,
.current-month {
    width: 155px;
    height: 25px;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.date-arrow,
.month-arrow {
    color: #737373;
    text-decoration: none;
    padding: 4px 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.arrow-text {
    font-size: 1rem;
    letter-spacing: 0.15rem;
}

.arrow-icon {
    width: 20px;
    height: 15px;
    opacity: 0.3;
}

.arrow-icon-right {
    transform: scaleX(-1);
}

.date-arrow:hover,
.month-arrow:hover {
    background: #eee;
}

.calendar-icon {
    width: 25px;
    height: 25px;
    color: black;
}

.attendance-list-table-container,
.attendance-table-container {
    border-radius: 12px;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.attendance-list-table,
.attendance-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 18px;
    letter-spacing: 2.7px;
    background: #FFFFFF;
    border-radius: 10px;
    table-layout: fixed;
}

.table-header-tr .table-th {
    border-bottom: 3px solid #E1E1E1;
    height: 45px;
}


.table-th, .table-td {
    text-align: center;
    padding: 0 10px;
    line-height: 41.5px;
    color: #737373;
    border-bottom: 2px solid #E1E1E1;
    font-feature-settings: "tnum";
}

.table-th-name, .table-td-name {
    width: 20%;
    padding-left: 20px;
}

.table-tr:hover {
    background: #f3f3f3;
}

.attendance-table tr:last-child td {
    border-bottom: none;
}

.table-header-tr .date-th, .table-tr .date-td {
    padding-left: 45px;
    text-align: left;
}

.table-header-tr .detail-link-th, .table-tr .detail-link-td {
    text-align: center;
    padding-right: 20px;
    padding-left: 0;
}

.detail-link {
    display: inline-block;
    color: black;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.2s;
}

.detail-link:hover {
    background: #737373;
}

.attendance-list-btn-area {
    width: 100%;
    text-align: right;
    margin: 5% auto;
}

.attendance-list-csv-btn {
    width: 184px;
    line-height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    letter-spacing: 2.7px;
    background-color: black;
    color: white;
    transition: background 0.2s;
}

.attendance-list-csv-btn:hover {
    background: #737373;
}

@media (max-width: 1024px) {
    .attendance-list-container {
        width: 80%;
        padding: 10px 0;
    }

    .attendance-list-table-container,
    .attendance-table-container {
        overflow-x: auto;
        overflow-y: auto;
    }

    .attendance-list-table,
    .attendance-table {
        min-width: 800px;
        min-height: 100%;
        table-layout: fixed;
    }

    .table-th, .table-td,
    .detail-link {
        padding: 3px 10px;
        font-size: 0.8rem;
    }
}


