/* 勤怠詳細画面(一般ユーザー・管理者共通) /attendance/{id} */
/* 共通style */
.attendance-detail-container {
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    flex-direction: column;
}

.attendance-detail-form {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
}

.table-wrapper {
    width: 100%;
    border-radius: 10px;
}

.attendance-detail-table {
    width: 100%;
    min-height: 100%;
    border-collapse:collapse;
    border-spacing: 0;
    background: #FFFFFF;
    border-radius: 10px;
    font-feature-settings: "tnum";
}

/* 最後の行のセルのボーダーを削除 */
.attendance-detail-tr:last-child .attendance-detail-th,
.attendance-detail-tr:last-child .attendance-detail-td,
.attendance-detail-tr:last-child .detail-td,
.attendance-detail-tr:last-child .input-area {
    border-bottom: none;
}

.attendance-detail-tr {
    height: 82.5px;
}

.attendance-detail-th {
    text-align: left;
    color: #737373;
    font-size: 18px;
    letter-spacing: 2.7px;
    width: 35%;
    padding: 10px 10px 10px 50px;
    border-bottom: 2px solid #E1E1E1;
}

.attendance-detail-td,
.attendance-detail-input {
    color: black;
    text-align: left;
    font-size: 18px;
    letter-spacing: 2.7px;
    line-height: 19px;
    border-bottom: 2px solid #E1E1E1;
}

.attendance-detail-input {
    width: 103px;
    line-height: 21px;
    border: 2px solid #E1E1E1;
    border-radius: 4px;
    padding: 2px 15px;
    margin: 0;
    margin-top: 4%;
    resize: none;
    outline: none;
    text-align: center;
}

.attendance-detail-td {
    border-bottom: 2px solid #E1E1E1;
    padding: 4px 20px;
}

.attendance-detail-td .attendance-detail-memo {
    width: 316px;
    height: 72px;
    text-align: left;
    font-size: 16px;
}

/* 管理者ルート申請一覧より詳細画面style */
.attendance-detail-text-year,
.attendance-detail-text-day {
    display: inline-block;
    width: 26%;
}

.attendance-detail-text-year {
    margin-right: 18%;
}

.attendance-detail-text-time {
    width: 13%;
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
}

.attendance-detail-text-tilde {
    width: 30%;
    display: inline-block;
    text-align: center;
}

/* 管理者ルート修正画面style */
.left-date,
.right-date {
    width: 28%;
    display: inline-block;
    text-align: left;
    padding: 0 15px;
}

.left-date {
    text-align: left;
}

.right-date {
    text-align: right;
}

.attendance-detail-tilde {
    width: 16%;
    display: inline-block;
    text-align: center;
}


.attendance-detail-btn-area {
    width: 100%;
    text-align: right;
    margin: 5% auto;
}

.detail-td {
    padding: 4px 35px;
}



.attendance-detail-edit-btn,
.status-approved {
    width: 130px;
    line-height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    letter-spacing: 2.7px;
    transition: background 0.2s;
}

.attendance-detail-edit-btn:hover {
    background: #737373;
}

.attendance-detail-edit-btn {
    background-color: black;
    color: white;
    padding: 0 40px;
}

.status-approved {
    display: inline-block;
    background: #737373;
    color: white;
    padding: 0 20px;
}

.pending-message {
    text-align: right;
    color: #FF000080;
    font-weight: 800;
    margin: 5% auto;
}


.attendance-detail-input:disabled {
    border: none;
    background: none;
    color: black;
    cursor: not-allowed;
}

/* 時計アイコン・スピンボタン非表示 */
input[type="time"].attendance-detail-input::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="time"].attendance-detail-input::-webkit-inner-spin-button,
input[type="time"].attendance-detail-input::-webkit-outer-spin-button {
    display: none;
    -webkit-appearance: none;
}

input[type="time"].attendance-detail-input {
    -moz-appearance: textfield;
    appearance: textfield;
}

@media (max-width: 1024px) {
    .attendance-detail-container {
        width: 80%;
    }
}

@media (max-width: 820px) {
    .attendance-detail-container {
        width: 80%;
    }

    .table-wrapper {
        overflow-x: auto;
        overflow-y: auto;
    }


    .attendance-detail-table {
        min-width: 600px;
        min-height: 100%;
        table-layout: fixed;
    }

    .attendance-detail-th {
        width: 30%;
        padding: 4px 15px;
    }

    .attendance-detail-td,
    .detail-link,
    .attendance-detail-date,
    .attendance-detail-input,
    .attendance-detail-memo {
        padding: 4px 10px;
    }

    .attendance-detail-date:first-child {
        margin-right: 2%;
    }

    .td-text {
        padding: 4px 20px;
    }

    .attendance-detail-date {
        width: 32%;
    }

    .attendance-detail-tilde {
        width: 10%;
    }

    .attendance-detail-btn-area {
        margin: 10% auto;
    }
}
