/* 縦スクロールを防ぐ */
body {
    overflow-y: hidden;
    height: 100vh;
    position: fixed;
    width: 100%;
}

.attendance-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
}

.attendance-status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    border-radius: 50px;
    margin-bottom: 5%;
    background-color: #C8C8C8;
}

.status-text {
    width: 60px;
    height: 22px;
    line-height: 22px;
    font-size: 1.125rem;
    color: #696969;
    letter-spacing: 1.5px;
}

.attendance-date {
    margin: 0;
    line-height: 48px;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 5%;
}

.attendance-time {
    line-height: 97px;
    font-size: 5rem;
    margin-bottom: 3%;
}

.attendance-actions {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5% auto;
}

.attendance-actions__form {
    width: 221px;
}

.action-button, .action-break-button {
    width: 100%;
    height: 77px;
    border: none;
    border-radius: 20px;
    padding: 16px 20px;
    transition: opacity 0.3s;
    font-size: 2rem;
    margin: 3% auto;
    letter-spacing: 5px;
}

.action-button {
    background-color: #000;
    color: #fff;
}

.action-break-button {
    background-color: #fff;
    color: #000;
}

.action-button:hover {
    opacity: 0.8;
}

.alert-success {
    width: 332px;
    text-align: center;
}

@media screen and (max-width: 540px) {
    .attendance-container {
        width: 90%;
    }

    .attendance-date {
        font-size: 1.5rem;
    }

    .attendance-actions {
        width: 100%;
    }

    .attendance-actions__form {
        width: 45%;
    }

    .action-button, .action-break-button {
        font-size: 1.2rem;
        padding: 10px 20px;
    }

}

@media screen and (min-width: 541px) and (max-width: 1024px) {
    .attendance-container {
        width: 90%;
    }

    .attendance-actions {
        width: 70%;
    }
}
