/* 縦スクロールを防ぐ */
body {
    overflow-y: hidden;
    height: 100vh;
    position: fixed;
    width: 100%;
}

.attendance-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
}

.attendance-status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    border-radius: 50px;
    margin-bottom: 5%;
    background-color: #C8C8C8;
}

.status-text {
    font-size: 18px;
    color: #696969;
    letter-spacing: 0.15em;
}

.attendance-date {
    margin: 0;
    line-height: 48px;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 5%;
}

.attendance-time {
    line-height: 97px;
    font-size: 80px;
    margin-bottom: 3%;
}

.attendance-actions {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 4.5% auto;
}

.attendance-actions__form {
    width: 221px;
    height: 77px;
}

.action-button, .action-break-button {
    width: 100%;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.15em;
    border-radius: 20px;
    padding: 15.5px 20px;
    margin: 3% auto;
    border: none;
}

.action-button {
    background-color: #000;
    color: #fff;
}

.action-break-button {
    background-color: #fff;
    color: #000;
}

.action-button:hover,
.action-break-button:hover {
    opacity: 0.7;
}

.alert-success {
    width: 332px;
    line-height: 31px;
    font-size: 26px;
    text-align: center;
    color: #000;
}

@media screen and (max-width: 540px) {
    .attendance-container {
        width: 80%;
    }

    .attendance-date {
        font-size: 24px;
    }

    .attendance-actions {
        width: 100%;
    }

    .attendance-actions__form {
        width: 45%;
    }

    .action-button, .action-break-button {
        font-size: 18px;
        padding: 10px 20px;
    }
}

@media screen and (min-width: 541px) and (max-width: 1024px) {
    .attendance-container {
        width: 90%;
    }

    .attendance-actions {
        width: 70%;
    }
}
