.admin-list-container,
.attendance-list-container {
    width: 60%;
    padding: 40px 0;
    background: #f3f3f3;
}

.admin-list-header,
.attendance-list-header {
    margin-bottom: 5%;
}

.month-switcher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
    background: white;
    border-radius: 6px;
    padding: 10px;
}

.current-month {
    font-size: 1.1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
}

.current-month .fa-calendar {
    font-size: 1.2em;
}

.calendar-icon {
    width: 25px;
    height: 25px;
    color: #5f5f5f;
}

.month-arrow {
    color: grey;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 4px 12px;
}

.month-arrow:hover {
    background: #eee;
}

.admin-attendance-list-table-container,
.attendance-table-container {
    border-radius: 12px;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.admin-attendance-list-table,
.attendance-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 1rem;
    font-weight: bold;
    background: #fff;
}

.table-header-tr .table-th {
    border-bottom: 2px solid #5f5f5f;
    color: gray;
    line-height: 2rem;
}

.table-tr, .table-th, .table-td {
    border-bottom: 1px solid #5f5f5f;
}

.table-th, .table-td {
    text-align: center;
    padding: 5px 20px;
}

.table-th, .table-td {
    font-weight: bold;
    font-size: 1rem;
    color: gray;
}

.table-tr:last-child td {
    border-bottom: none;
}

.table-tr:hover {
    background: #f3f3f3;
}

.detail-link {
    display: inline-block;
    padding: 4px 12px;
    color: black;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.2s;
}

.detail-link:hover {
    background: grey;
}


@media (max-width: 1024px) {
    .admin-list-container,
    .attendance-list-container {
        width: 80%;
        padding: 10px 0;
    }

    .admin-attendance-list-table-container,
    .attendance-table-container {
        overflow-x: auto;
        overflow-y: auto;
    }

    .admin-attendance-list-table,
    .attendance-table {
        min-width: 700px;
        min-height: 100%;
        table-layout: fixed;
    }

    .table-th, .table-td,
    .detail-link {
        padding: 3px 10px;
        font-size: 0.8rem;
    }
}


