.staff-list-container {
    width: 900px;
    padding: 40px 0;
    background: #f3f3f3;
}

.staff-list-table-container {
    border-radius: 10px;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.staff-list-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 18px;
    letter-spacing: 2.7px;
    background: #fff;
    border-radius: 12px;
}

.table-header-tr .table-th {
    border-bottom: 2px solid #E1E1E1;
}

.table-th, .table-td {
    text-align: center;
    padding: 5px 20px;
    color: #737373;
    height: 45px;
    border-bottom: 1px solid #E1E1E1;
}

.table-tr:hover {
    background: #f3f3f3;
}

.staff-list-table tr:last-child td {
    border-bottom: none;
}

.detail-link {
    display: inline-block;
    padding: 4px 12px;
    color: black;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.2s;
}

.detail-link:hover {
    background: grey;
}

@media (max-width: 1024px) {
    .staff-list-container {
        width: 80%;
    }

    .staff-list-table-container {
        overflow-x: auto;
        overflow-y: auto;
    }

    .staff-list-table {
        min-width: 800px;
        table-layout: fixed;
    }

}
