.stamp-correction-list-container {
    width: 65%;
    padding: 40px 0;
    background: #f3f3f3;
}


.tab-menu {
    display: flex;
    gap: 5%;
}

.tab-item,
.tab-item-active {
    font-size: 1rem;
    letter-spacing: 2.4px;
    color: black;

}

.tab-item {
    font-weight: 400;
}

.tab-item-active {
    font-weight: bold;
}

.tab-item-border {
    width: 100%;
    border-bottom: 1px solid black;
    margin: 2% 0;
}

.list-table-container {
    border-radius: 12px;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.list-table {
    width: 100%;
    min-height: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1rem;
    background: #FFFFFF;
    border-radius: 12px;
}

.table-header-tr {
    border-bottom: 1px solid #E1E1E1;
    color: #737373;
    line-height: 2.8rem;
}

.table-th,
.table-td {
    font-weight: bold;
    line-height: 2.8rem;
    font-size: 1rem;
    border-bottom: 1px solid #E1E1E1;
    color: #737373;
    padding: 4px 0 4px 30px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
    letter-spacing: 2.4px;

}

.table-tr:last-child td {
    border-bottom: none;
}

.table-tr:hover {
    background: #E1E1E1;
}

.detail-link {
    display: inline-block;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

.detail-link:hover {
    background: #E1E1E1;
}

@media (max-width: 1024px) {
    .stamp-correction-list-container {
        width: 80%;
        padding: 10px 0;
    }

    .list-table-container {
        overflow-x: auto;
        overflow-y: auto;
    }

    .list-table {
        min-width: 800px;
        min-height: 100%;
        table-layout: fixed;
    }

    .table-th, .table-td,
    .detail-link {
        font-size: 0.8rem;
    }
}


