.stamp-correction-list-container {
    width: 900px;
    padding: 40px 0;
    background: #f3f3f3;
}

.tab-menu {
    display: flex;
    gap: 12%;
    padding-left: 45px;
}

.tab-item,
.tab-item-active {
    height: 19px;
    font-size: 16px;
    letter-spacing: 2.4px;
    color: black;
}

.tab-item {
    font-weight: 400;
}

.tab-item-active {
    font-weight: 700;
}

.tab-item-border {
    width: 100%;
    border-bottom: 1px solid black;
    margin: 2% 0;
}

.list-table-container {
    border-radius: 12px;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.list-table {
    width: 100%;
    min-height: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 16px;
    letter-spacing: 2.4px;
    font-weight: 400;
    background: #FFFFFF;
    border-radius: 10px;
    table-layout: fixed;
}

.table-header-tr .table-th {
    border-bottom: 3px solid #E1E1E1;
}

.table-th,
.table-td {
    height: 45px;
    text-align: left;
    border-bottom: 2px solid #E1E1E1;
    color: #737373;
    padding: 0 15px;
    font-feature-settings: "tnum";
}

.table-td.reason-td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 日付の部分はletter-spacingを無効にする */
.table-td.date-td {
    letter-spacing: normal;
}

.table-header-tr .status-th, .table-tr .status-td {
    padding-left: 45px;
    text-align: left;
}


.table-tr:last-child td {
    border-bottom: none;
}

.table-tr:hover {
    background: #E1E1E1;
}

.detail-link {
    display: inline-block;
    color: black;
    font-size: 16px;
    text-decoration: none;
}

.detail-link:hover {
    background: #E1E1E1;
}

@media (max-width: 1024px) {
    .stamp-correction-list-container {
        width: 80%;
        padding: 10px 0;
    }

    .list-table-container {
        overflow-x: auto;
        overflow-y: auto;
    }

    .list-table {
        min-width: 800px;
        min-height: 100%;
        table-layout: fixed;
    }

    .table-th, .table-td,
    .detail-link {
        font-size: 0.8rem;
    }
}


