.stamp-correction-list-container {
    width: 60%;
    padding: 40px 0;
    background: #f3f3f3;
}

.stamp-correction-list-title {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    text-align: left;
    margin-bottom:2%;
    padding-left: 3%;
    border-left: 6px solid #5f5f5f;
}

.tab-menu {
    display: flex;
    gap: 2rem;
    margin: 4% auto;
    padding: 3%;
    border-bottom: 1px solid black;

}

.tab-item-active {
    font-weight: bold;
    color: black;
}

.tab-item {
    color: #5f5f5f;
}

.stamp-correction-list-table-container {
    border-radius: 12px;
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

.stamp-correction-list-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 1rem;
    background: #fff;
}

.table-header-tr {
    border-bottom: 2px solid #5f5f5f;
    color: #5f5f5f;
    line-height: 1.8rem;
}

.table-th, .table-td {
    text-align: center;
    padding: 5px 20px;
}

.table-th {
    font-weight: bold;
    font-size: 1rem;
    border-bottom: 1px solid #5f5f5f;
}

.table-td {
    border-bottom: 1px solid #5f5f5f;
    color: #5f5f5f;
}

.table-tr:last-child td {
    border-bottom: none;
}

.table-tr:hover {
    background: #f3f3f3;
}

.detail-link {
    display: inline-block;
    padding: 4px 12px;
    color: black;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.2s;
}

.detail-link:hover {
    background: #444;
}

@media (max-width: 1024px) {
    .stamp-correction-list-container {
        width: 90%;
        padding: 10px 0;
    }

    .stamp-correction-list-table-container {
        overflow-x: auto;
        overflow-y: auto;
        width: 100%;
    }

    .stamp-correction-list-table {
        min-width: 800px;
        table-layout: fixed;
    }


    .table-th, .table-td,
    .detail-link {
        font-size: 0.8rem;
    }
}


